@import "/css/stylesheets/foundation.css";
@import "/css/stylesheets/normalize.css";
@import "/css/stylesheets/font-awesome.css";
body {
  background-color: #272822;
}
p {
  font-size: 1.1em;
}
a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #999;
}
a:visited,
a:link {
  color: #999;
}
a:hover,
a:active {
  color: #fff;
}
.text {
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.top-bar-bottom-border {
  border-bottom: solid;
  border-width: 1px;
  border-color: #454545;
}
.nav-title {
  height: 100%;
}
.nav-logo {
  height: 80%;
  padding-right: 10px;
  padding-bottom: 5px;
}
.top-image {
  width: 100%;
  max-height: 100%;
  min-height: 50%;
}
#about {
  background-color: #383836;
}
#skills {
  background-color: #272822;
}
.development {
  color: #6985ff;
  text-align: center;
}
.design {
  color: #91cc5d;
  text-align: center;
}
.product-management {
  color: #ff5925;
  text-align: center;
}
#experience {
  background-color: #383836;
}
.app-icon {
  width: 30%;
  padding-bottom: 25px;
}
.divit-content,
.shindg-content {
  display: none;
}
.roles-title {
  color: #6985ff;
}
.languages-title {
  color: #91cc5d;
}
.platforms-title {
  color: #ff5925;
}
#testimonials {
  background-color: #272822;
}
.quotation-content {
  text-indent: 40px;
  margin-top: -20px;
}
.quotation-source {
  color: #7e8080;
}
.blue-quotation-mark {
  color: #6985ff;
}
.blue-quotation-source {
  color: #6985ff;
}
.green-quotation-mark {
  color: #91cc5d;
}
.green-quotation-source {
  color: #91cc5d;
}
.red-quotation-mark {
  color: #ff5925;
}
.red-quotation-source {
  color: #ff5925;
}
#contact {
  background-color: #383836;
}
