@import "/css/stylesheets/foundation.css";
@import "/css/stylesheets/normalize.css";
body {
  background-color: #272822;
}
.top-image {
  height: 100%;
  width: 100%;
}
.content {
  max-width: 0px;
}
.about {
  background-color: #4c4c49;
}
.dannypic {
  width: 100%;
  padding-bottom: 20px;
}
.skills {
  background-color: #272822;
}
.experience {
  background-color: #4c4c49;
}
.testimonials {
  background-color: #272822;
}
.contact {
  background-color: #4c4c49;
}
