# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Symbolic linked resume files
public/documents/resume

# Compiled style sheet
public/css/stylesheets/style.css

# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# Users Environment Variables
.lock-wscript

# Mac indexing file
.DS_Store
