extends layout

block content
	div(class="fixed")
		nav(class="top-bar" data-topbar data-options="scrolltop:false" role="navigation")
			ul(class="title-area")
				li(class="name")
					h1(class="nav-title")
						a(href="#" class="nav-title")
							img(src="/images/deidenIcon.png" class="nav-logo")
							| Danny Eiden
				li(class="toggle-topbar menu-icon")
					a(href="#")
						span
			section(class="top-bar-section")
				ul(class="right")
					li
						a(onclick="scrollTo('#about');") About
					li
						a(onclick="scrollTo('#skills');") Skills
					li
						a(onclick="scrollTo('#experience');") Experience
					li
						a(onclick="scrollTo('#testimonials');") Testimonials
					li
						a(onclick="scrollTo('#contact');") Contact
	// Top Image
	img(src="/images/Wave_of_the_Future.jpg" class="top-image")
	section(id="about")
		div(class="row")
			div(class="large-12 column")
				h3 About
			div(class="small-4 medium-2 large-2 column")
				img(src="/images/dannypic2.jpg" class="danny-pic")
			div(class="text")
				p
				|Great things happen at the intersection of technology and creativity,
				| and that is where I like to center my thinking. I strive for a deep
				| understanding of both computers and people. During my undergraduate
				| career, I have taken classes in computer science, psychology, marketing,
				| and the arts. I have made a great effort to develop whole-brain thinking,
				| and I would like to put this unique mindset to work for you.
	section(id="skills")
		div(class="row")
			div(class="large-12 column")
				h3 Skills
	section(id="experience")
		div(class="row")
			div(class="large-12 column")
				h3 Experience
	section(id="testimonials")
		div(class="row")
			div(class="large-12 column")
				h3 Testimonials
	section(id="contact")
		div(class="row")
			div(class="large-12 column")
				h3 Contact
	script(src="/javascripts/index.js")