extends layout

block content
	div(class="fixed")
		nav(class="top-bar" data-topbar data-options="scrolltop:false" role="navigation")
			ul(class="title-area")
				li(class="name")
					h1(class="nav-title")
						a(href="#" class="nav-title")
							img(src="/images/deidenIcon.png" class="nav-logo")
							| Danny Eiden
				li(class="toggle-topbar menu-icon")
					a(href="#")
						span
			section(class="top-bar-section")
				ul(class="right")
					li
						a(onclick="scrollTo('#about', true);") About
					li
						a(onclick="scrollTo('#skills', true);") Skills
					li
						a(onclick="scrollTo('#experience', true);") Experience
					li
						a(onclick="scrollTo('#testimonials', true);") Testimonials
					li
						a(onclick="scrollTo('#contact', true);") Contact
	// Top Image
	img(src="/images/Wave_of_the_Future.jpg" class="top-image")
	section(id="about")
		div(class="row")
			div(class="large-12 column")
				h3 About
			div(class="small-4 medium-2 large-2 column")
				img(src="/images/dannypic2.jpg" class="danny-pic")
			div(class="text")
				p
					| Great things happen at the intersection of technology and creativity,
					| and that is where I like to center my thinking. I strive for a deep
					| understanding of both computers and people. During my undergraduate
					| career, I have taken classes in computer science, psychology, marketing,
					| and the arts. I have made a great effort to develop whole-brain thinking,
					| and I would like to put this unique mindset to work for you.
	section(id="skills")
		div(class="row")
			div(class="large-12 column")
				h3 Skills
			div(class=" large-4 column text padding-1")
				h4(class="development") Development
				p
					| While I am a well rounded person, development is my core. Since the start
					| of my programming career, I have contributed to numerous projects in over ten
					| languages. To complete these projects, I have produced polished front-end
					| as well as high-performance back-end code. Whatever kind of programmer
					| you need on a particular day, I can deliver.
			div(class=" large-4 column text")
				h4(class="design") Design
				p
					| When creating software, the user always comes first. I take great pride
					| in being a developer who understands people as well as computers. I aim to
					| delight individuals with my work, and I have taken classes in psychology and
					| design to help me achieve this goal. When your product needs to be beautiful
					| in both form and function, I am prepared to help make it shine.
			div(class=" large-4 column text")
				h4(class="product-management") Product Management
				p
					| It is imperative to have team members who understand business in addition to
					| technology. From competitive landscape to LTV:CAC, I like to know everything
					| about the products I contribute to. My business classes, internship involvement,
					| and experience forming a startup have equipped me to handle the entire breadth
					| of challenges that you might face when managing a product.
	section(id="experience")
		div(class="row")
			div(class="large-12 column")
				h3 Experience
			div(class="medium-6 large-6 column")
				div(class="text-center")
					h2 Divit
					img(src="/images/divit.png" class="app-icon")
				p
					| Roommates split costs. They split rent, bills, groceries, and more. Splitting
					| costs is necessary for some expenses and convenient for others. There are, however,
					| problems. Dividing expenses evenly is confusing and time consuming. Obtaining checks
					| and cash to pay back roommates is inconvenient. Exchanging money is awkward. People
					| lose track of who owes who. Divit aims to solve these problems. Divit allows roommates
					| to quickly enter all expenses as they come in. At the end of each month, all roommates
					| are either credited or debited through Venmo based on what they are owed or what they owe.
				br
				div(class="text-center")
					a(onclick="showExperienceContent('divit')")
						span(class="experience-icon fa fa-angle-down  fa-3x" id="divit-arrow")
				div(class="divit-content")
					h4 Roles
					ul
						li Founder
						li Programmer
						li Designer
						li Product Manager
					h4 Languages Used
					ul
						li HTML
						li CSS
						li JavaScript
						li Objective C
					h4 Platforms & Strategies Used
					ul
						li node.js
						li Parse
						li Mixpanel
						li Heroku Deployment
						li Git & Github
						li Pixelmater & Gimp
						li Agile Development
			div(class=" medium-6 large-6 column")
				div(class="text-center")
					h2 Shindg
					img(src="/images/shindg.png" class="app-icon")
				p
					| Shindg is the new social calendar. Whether it’s a spontaneous night out with your
					| closest group of friends or a last-minute trip to the movie theater with your family,
					| Shindg is the best way to organize your social activities. Shindg offers easy friend
					| grouping to quickly invite a whole group of friends with one touch of a button, per-event
					| group messaging to keep all communication about an event in one central location, and RSVP
					| so you always know who’s coming.
				br
				div(class="text-center")
					a(onclick="showExperienceContent('shindg')")
						span(class="experience-icon fa fa-angle-down fa-3x" id="shindg-arrow")
				div(class="shindg-content")
					h4 Roles
					ul
						li Founder
						li Programmer
						li Designer
						li Product Manager
					h4 Languages Used
					ul
						li Objective C
					h4 Platforms & Strategies Used
					ul
						li Parse
						li Git & Github
						li Pixelmater & Gimp
						li Agile Development
	section(id="testimonials")
		div(class="row")
			div(class="large-12 column")
				h3 Testimonials
				div(class="small-4 medium-3 large-2 column")
					img(src="/images/sephenHeadshot.jpg" class="testimonial-pic")
				div
					span(class="quotation-mark fa fa-quote-left fa-2x")
					p(class="quotation-content")
						| Danny's excellent organization and communication skills allowed him to be an
						| effective moderater during our two-quarter class project. He quickly picked
						| up the technology and frameworks we used, making key development contributions.
					p(class="quotation-source")
						| Stephen Chan, Co-founder and Developer for Divit and Shindg
	section(id="contact")
		div(class="row")
			div(class="large-12 column")
				h3 Contact
				br
			div(class="small-12 medium-6 large-3 column text-center")
				a(href="mailto:deiden.26@gmail.com")
					span(class="contact-icon fa fa-envelope fa-5x fa-fw")
					p(class="contact-icon") deiden.26@gmail.com
			div(class="small-12 medium-6 large-3 column text-center")
				a(href="/documents/resume.pdf" download="Danny Eiden Resume Sept 2014")
					span(class="contact-icon fa fa-file-text fa-5x fa-fw")
					p(class="contact-icon") Resume
			div(class="small-12 medium-6 large-3 column text-center")
				a(href="http://www.linkedin.com/in/DannyEiden")
					span(class="contact-icon fa fa-linkedin fa-5x fa-fw")
					p(class="contact-icon") Linkedin
			div(class="small-12 medium-6 large-3 column text-center")
				a(href="http://www.github.com/deiden26")
					span(class="contact-icon fa fa-github fa-5x fa-fw")
					p(class="contact-icon") GitHub
	script(src="/javascripts/index.js")
