doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		script(src="/Scripts/bootstrap.js")
	body
		nav(class="navbar navbar-inverse" role="navigation")
			div(class="container-fluid")
			a(class="navbar-brand" href="/") Danny
		block content