doctype html
html(class="no-js" lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		// link(rel="shortcut icon" href="/images/deidenIcon.ico")
		title Danny Eiden | Developer, Designer, Product Manager
		meta(name="msvalidate.01" content="14E20E1DBD830660937E71B301B68998")
		meta(name="description" content="" +
			"I am Danny Eiden, a developer with an interdisciplinary mind. My goal is " +
			"to combine a deep understanding of computers, people, and businesses to " +
			"create novel products."
			)

		link(rel='stylesheet', href='/css/stylesheets/style.css')

		script(src="/javascripts/Foundation/modernizr.js")
		//Google Analytics
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-59546710-1', 'auto');
			ga('send', 'pageview');

	body
		block content

		script(src="/javascripts/Foundation/jquery.js")
		script(src="/javascripts/slick.js")
		script(src="/javascripts/Foundation/fastclick.js")
		script(src="/javascripts/Foundation/foundation.min.js")
		script() $(document).foundation();
