doctype html
html(class="no-js" lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		link(rel="shortcut icon" type="image/png" href="/images/deidenIcon.png")
		title Danny Eiden | Developer, Designer, Product Manager
		meta(name="description" content="Great things happen at the intersection of technology \
			and creativity, and that is where I like to center my thinking. I'm Danny Eiden, \
			and I strive for a deep understanding of both computers and people.")

		link(rel='stylesheet', href='/css/stylesheets/style.css')

		script(src="/javascripts/Foundation/modernizr.js")
	body
		block content

		script(src="/javascripts/Foundation/jquery.js")
		script(src="/javascripts/Foundation/fastclick.js")
		script(src="/javascripts/Foundation/foundation.min.js")
		script() $(document).foundation();