doctype html
html(class="no-js" lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")

		link(rel="shortcut icon" href="/images/deidenIcon.ico")
		title Danny Eiden | Developer, Designer, Product Manager
		meta(name="description" content="" +
			"I am Danny Eiden, a developer with an interdisciplinary mind. My goal is " +
			"to combine a deep understanding of computers, people, and businesses to " +
			"create novel products."
			)

		link(rel='stylesheet', href='/css/stylesheets/style.css')

		script(src="/javascripts/Foundation/modernizr.js")
	body
		block content

		script(src="/javascripts/Foundation/jquery.js")
		script(src="/javascripts/slick.js")
		script(src="/javascripts/Foundation/fastclick.js")
		script(src="/javascripts/Foundation/foundation.min.js")
		script() $(document).foundation();
