@import "/css/stylesheets/foundation.css"
@import "/css/stylesheets/normalize.css"
@import "/css/stylesheets/font-awesome.css"
@import "/css/stylesheets/slick.css"

//Mixins
transition(val)
	-webkit-transition: all val ease;
	-moz-transition: all val ease;
	-ms-transition: all val ease;
	-o-transition: all val ease;
	transition: all val ease;

// Universal
body
	background-color #272822
p
	font-size 1.1em
a
	transition(0.5s)
	color #999999
	&:visited, &:link
		color #999999
	&:hover, &:active
		color #ffffff
.text
	padding-bottom 20px
	padding-left 15px
	padding-right 15px

//top-bar
.top-bar-bottom-border
	border-bottom solid
	border-width 1px
	border-color #454545
.nav-title
	height 100%
.nav-logo
	height 80%
	padding-right 10px
	padding-bottom 5px

// Top
.top-image
	width 100%
	max-height 100%
	min-height 50%

// About
#about
	background-color #383836
// Skills
#skills
	background-color #272822
.development
	color #6985FF
	text-align center
.design
	color #91CC5D
	text-align center
.product-management
	color #FF5925
	text-align center
	
//Experience
#experience
	background-color #383836
.project-carousel
	padding-left 20%
	padding-right 20%
.app-icon
	width 30%
	padding-bottom 25px
	margin-left auto
	margin-right auto
.divit-content, .shindg-content
	display none
.roles-title
	color #6985FF
.languages-title
	color #91CC5D
.platforms-title
	color #FF5925
.slick-prev, .slick-next
	height 50px
	width 50px
	font-size 50px
	&:before
		font-size 50px
@font-face 
	font-family: "slick";
	src: url("../../fonts/slick/slick.eot");
	src: url("../../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../../fonts/slick/slick.woff") format("woff"), url("../../fonts/slick/slick.ttf") format("truetype"), url("../../fonts/slick/slick.svg#slick") format("svg");
	font-weight: normal;
	font-style: normal; 

// Testimonials
#testimonials
	background-color #272822
.quotation-content
	text-indent 40px
	margin-top -20px
.quotation-source
	color #7e8080
.blue-quotation-mark
	color #6985FF
.blue-quotation-source
	color #6985FF
.green-quotation-mark
	color #91CC5D
.green-quotation-source
	color #91CC5D
.red-quotation-mark
	color #FF5925
.red-quotation-source
	color #FF5925

// Contact
#contact
	background-color #383836
