@import "/css/stylesheets/foundation.css"
@import "/css/stylesheets/normalize.css"
@import "/css/stylesheets/font-awesome.css"

//Mixins
transition(val)
	-webkit-transition: all val ease;
	-moz-transition: all val ease;
	-ms-transition: all val ease;
	-o-transition: all val ease;
	transition: all val ease;

// Universal
body
	background-color #272822
p
	font-size 1.1em
a
	transition(0.5s)
	color #999999
	&:hover
		color #ffffff
.text
	padding-bottom 20px
	padding-left 15px
	padding-right 15px

//top-bar
.top-bar-bottom-border
	border-bottom solid
	border-width 1px
	border-color #454545
.nav-title
	height 100%
.nav-logo
	height 80%
	padding-right 10px
	padding-bottom 5px

// Top
.top-image
	width 100%
	max-height 100%
	min-height 50%

// About
#about
	background-color #383836
// Skills
#skills
	background-color #272822
.development
	color #6985FF
	text-align center
.design
	color #91CC5D
	text-align center
.product-management
	color #FF5925
	text-align center
	
//Experience
#experience
	background-color #383836
.app-icon
	width 30%
	padding-bottom 25px
.divit-content, .shindg-content
	display none

// Testimonials
#testimonials
	background-color #272822
.quotation-mark
	color #3B3B3B
.quotation-content
	text-indent 40px
	margin-top -20px
.quotation-source
	color #808080

// Contact
#contact
	background-color #383836
