@import "/css/stylesheets/foundation.css"
@import "/css/stylesheets/normalize.css"
@import "/css/stylesheets/font-awesome.css"
@import "/css/stylesheets/slick.css"

//Mixins
transition(val)
	-webkit-transition all val ease
	-moz-transition all val ease
	-ms-transition all val ease
	-o-transition all val ease
	transition all val ease

//Load slick carousel font
@font-face 
	font-family: "slick"
	src: url("../../fonts/slick/slick.eot")
	src: url("../../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../../fonts/slick/slick.woff") format("woff"), url("../../fonts/slick/slick.ttf") format("truetype"), url("../../fonts/slick/slick.svg#slick") format("svg")
	font-weight: normal
	font-style: normal 

// Universal
body
	background-color #272822
p
	font-size 1.1em
a
	transition(0.5s)
	color #999999
	&:visited, &:link
		color #999999
	&:hover, &:active
		color #ffffff
h3
	color #ffffff
	box-shadow 0px 2px 2px -3px #fff, 0px -2px 2px -3px #000 inset
	padding-left 10px
	padding-bottom 5px
	margin-bottom 30px
	margin-top 30px
h5
	color #ffffff
	font-size 2em
	text-align center
.text
	padding-bottom 20px
	padding-left 15px
	padding-right 15px

//top-bar
.top-bar {
    background #454545
}

.top-bar-section li a:not(.button) {
    background #454545 !important 
}
.top-bar-section li a:not(.button):hover {
    background #666 !important
}

.top-bar-section ul li.active > a {
    background #666 !important  
}

.top-bar-section ul li.active > a:hover {
    background #666 !important 
}

.top-bar-bottom-border
	box-shadow 0px -1px 8px 2px #000

.nav-title
	height 100%
.nav-logo
	height 80%
	padding-right 10px
	padding-bottom 5px
//Top Image
#top
	@media (max-height : 500px)
		height 100%
	@media (min-height : 501px) and (max-height : 750px)
		height 455px
	@media (min-height : 751px) and (max-height : 950px)
		height 705px
	@media (min-height : 951px) and (max-height : 1150px)
		height 905px
	@media (min-height : 1151px)
		height 100% 
.top-image
	display table
	background-size cover
	background-repeat no-repeat
	background-position center center
	background-attachment fixed
	position absolute
	top 0
	left 0
	z-index -1
	width 100%
	@media (max-height : 500px)
		height 100%
	@media (min-height : 501px) and (max-height : 750px)
		height 500px
	@media (min-height : 751px) and (max-height : 950px)
		height 750px
	@media (min-height : 951px) and (max-height : 1150px)
		height 950px
	@media (min-height : 1151px)
		height 100% 
	@media (max-width : 480px)
		background-image url("../../images/Wave_of_the_Future_Small.jpg")
	@media (min-width : 481px) and (max-width : 1024px)
		background-image url("../../images/Wave_of_the_Future_Medium.jpg")
	@media (min-width : 1025px)
		background-image url("../../images/Wave_of_the_Future_Large.jpg")
.top-image-text
	display table-cell
	vertical-align middle
	background-color rgba(#000, 0.5)
	padding-left 20px
	padding-right 20px
.top-image-mask
	position absolute
	@media (max-height : 500px)
		bottom 0px
	@media (min-height : 501px) and (max-height : 750px)
		top 480px
	@media (min-height : 751px) and (max-height : 950px)
		top 730px
	@media (min-height : 951px) and (max-height : 1150px)
		top 930px
	@media (min-height : 1151px)
		bottom 0px
	left 0
	width 100%
	height 20px
	z-index 2

.top-image-mask:before,.top-image-mask:after
	content ' '
	display block
	position absolute
	top 0
	height 0
	border-bottom 20px solid #323230
	box-shadow 0px -7px 7px -2px #000
	z-index 1
	width 50%

.top-image-mask:before
	border-left 0
	border-right 20px solid transparent
	padding-right 20px
	border-bottom 20px solid #323230
	box-shadow -20px -7px 7px -2px #000
	left 0

.top-image-mask:after
	right 0
	border-right 0
	border-left 20px solid transparent
	box-shadow 20px -7px 7px -2px #000

// About
#about
	background-color #323230
// Skills
#skills
	background-color #272822
.development
	color #6985FF
	text-align center
.design
	color #91CC5D
	text-align center
.product-management
	color #FF5925
	text-align center
	
//Experience
#experience
	background-color #323230
.project-carousel
	margin-left 20px
	margin-right 20px
.app-icon
	width 30%
	max-width 200px
	padding-bottom 25px
	margin-left auto
	margin-right auto
.divit-content, .shindg-content
	display none
.project-source-button-text
	margin-bottom 10px
.roles-title
	color #6985FF
.languages-title
	color #91CC5D
.platforms-title
	color #FF5925
.slick-prev, .slick-next
	height 50px
	&:before
		transition(0.5s)
		font-size 50px
		font-family FontAwesome
		color #999999
	&:hover:before, &:focus:before
		color #ffffff
.slick-prev:before
		content "\f104"
.slick-next:before
		content "\f105"
.slick-dots
	margin-left 0
	margin-right 0
.slick-dots li button:before
	text-shadow 1px 1px 1px #666, -1px -1px 1px #111
	font-size 10px
	color #272822
	opacity 0.6
.slick-dots li.slick-active button:before
	color #272822
	opacity 1.0
.content-button-text
	margin-bottom 0px

// Testimonials
#testimonials
	background-color #272822
.quotation-content
	text-indent 40px
	margin-top -20px
.quotation-source
	color #7e8080
.blue-quotation-mark
	color #6985FF
.blue-quotation-source
	color #6985FF
.green-quotation-mark
	color #91CC5D
.green-quotation-source
	color #91CC5D
.red-quotation-mark
	color #FF5925
.red-quotation-source
	color #FF5925

// Contact
#contact
	background-color #323230
